---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.mainSiteUrl }}/</loc>
  </url>
  <url>
    <loc>{{ site.mainSiteUrl }}/archive/</loc>
  </url>
  {% for post in collections.posts %}
  <url>
    <loc>{{ site.mainSiteUrl }}{{ post.url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
  </url>
  {% endfor %}
</urlset>
