{% if site.graphCommentId %}
<section class="mt-10 border-t border-amber-500/30 pt-8">
  <div id="graphcomment"></div>
  <script type="text/javascript">
    (function () {
      var gc_params = {
        graphcommentId: "{{ site.graphCommentId }}",
        behaviour: {
          defaultSorting: "newest",
        },
      };
      (function (d, s, id) {
        var js,
          gjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://graphcomment.com/js/integration.js?" + Date.now();
        gjs.parentNode.insertBefore(js, gjs);
      })(document, "script", "graphcomment-jssdk");
    })();
  </script>
</section>
{% endif %}
